
#fitnessNav{
padding-left: -5px;
}
.style-prefix-1dqfrva{
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px; */
    
    padding-left: 14%;
    border:1px solid whitesmoke;
    background-color: #393a3b;
    line-height: 20px;
}
.style-prefix-1dqfrva>a{
    text-decoration: none;
    color: #c2c2c2;
    font-family: "Helvetica Neue", Helvetica,  Arial, sans-serif;
}
.style-prefix-1dqfrva>a:hover{
    color: white;
}
.style-prefix-0>button{
    border-radius: 3px;
    border:none;
    background-color: #5b5c5d;
    padding: 3px;
    color:white;
}
.style-prefix-0>button:hover{
    background-color: #727475;
}