/* 
    *, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
    html { font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }
    body, html {
      overflow-x: visible;
      font-family: BrandonTextWeb-Regular,Helvetica Neue, Helvetica, Roboto, Arial, sans-serif
    } */
    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 25px;
      line-height: 1.42857143;
       color:white; background-color:  #333
    }
    table{
        border:1px solid crimson;
    }
    tbody>th{
        border:1px solid white;
    }
    /* body { max-width: 100% }
    body { margin: 0 }
    #root { overflow-x: visible }
     */
/*     
  @font-face {
    font-family: "BrandonTextWeb-Medium"; font-display: swap;
    src: url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.eot");
    src: url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.eot?#iefix")
    format("embedded-opentype"), url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.woff2")
    format("woff2"), url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.woff") format("woff"),
      url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.ttf")
    format("truetype");
  }
  @font-face {
    font-family: "BrandonTextWeb-Regular"; font-display: swap;
    src: url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.eot");
    src: url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.eot?#iefix")
    format("embedded-opentype"), url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.woff2")
    format("woff2"), url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.woff") format("woff"),
      url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.ttf")
    format("truetype");
  }
  @font-face {
    font-family: "BrandonTextWeb-Bold"; font-display: swap;
    src: url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.eot");
    src: url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.eot?#iefix")
    format("embedded-opentype"), url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.woff2")
    format("woff2"), url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.woff") format("woff"),
      url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.ttf")
    format("truetype");
  }

    
  @font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff)
     format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
      U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hjp-Ek-_EeA.woff)
      format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
      U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Inter-Extra-Bold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hjp-Ek-_EeA.woff)
      format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
      U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

    
  @font-face {
    font-family: 'Bebas-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
      U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

    
  @font-face {
  font-family: 'CFIcons';
  src:  url('https://static.cure.fit/assets/fonts/icomoon/CFIcons.eot?1py9s3');
  src:  url('https://static.cure.fit/assets/fonts/icomoon/CFIcons.eot?1py9s3#iefix') format('embedded-opentype'),
    url('https://static.cure.fit/assets/fonts/icomoon/CFIcons.ttf?1py9s3') format('truetype'),
    url('https://static.cure.fit/assets/fonts/icomoon/.woff?1py9s3') format('woff'),
    url('https://static.cure.fit/assets/fonts/icomoon/CFIcons.svg?1py9s3#CFIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


    .hide {
      display: none !important;
    } */
